* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(109, 99, 99);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.second {
    padding: 50px 20px;
}

.second p {
    max-width: 1000px;
    margin: 0 auto;
}

.first__content {
    position: relative;
    z-index: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.first__content > div {
    margin-bottom: 100px;
}

.first__bg {
    background-image: url(https://uploads.notanotherbill.com/_width2000/Not-Another-Bill.Home.Banner.2634.jpg?mtime=20180306113139);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    transition: all 0.5s ease;
}

.first-view-enabled {
    overflow: hidden;
}

.first-view-enabled .first__bg {
    transform: scale(1.3);
}

